body  footer{
  text-align: center;


  }

h3{
  color: green;
}
i{
  color: red;
}


footer #blog-footer {
  text-align: center;
  background-color: hsl(185, 14%, 91%);
    
  zoom : 85%;

  
}

div {
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
}


.container{
  text-align: center, justify;
}
nav{
  background-color: white;
}

.card  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.btn:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

