body  footer{
  text-align: center;


  }

h3{
  color: green;
}
i{
  color: red;
}


footer #blog-footer {
  text-align: center;
  background-color: hsl(185, 14%, 91%);
    
  zoom : 85%;

  
}

div {
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
}


.container{
  text-align: center, justify;
}
nav{
  background-color: white;
}

.card  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.btn:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
nav a {
  position: relative;
  display: block;
  padding: 5px;
}


nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

nav a:hover::before {
  transform: scaleX(1);
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav[data-animation="to-left"] a::before {
  transform-origin: right;
}

nav[data-animation="center"] a::before {
  transform-origin: center;
}

nav[data-animation="bonus"] a::before {
  transform-origin: right;
}

nav [data-animation="bonus"] a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

